# ===== App =====
APP_NAME=Drivee NL2SQL Backend
APP_ENV=local
DEBUG=true
API_PREFIX=/api

# Для локального фронта потом можно оставить localhost:3000
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# ===== Postgres =====
POSTGRES_DB=drivee
POSTGRES_USER=drivee
POSTGRES_PASSWORD=drivee
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://drivee:drivee@db:5432/drivee

# ===== Redis =====
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0
TEMPLATES_CACHE_TTL_SECONDS=86400
TEMPLATE_RESULT_CACHE_TTL_SECONDS=600
TEMPLATE_MATCH_THRESHOLD=0.88

# ===== Auth =====
JWT_SECRET_KEY=change-me-super-secret-key-at-least-32-chars
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Демо-пользователь создается при старте
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=admin123

# ===== Ollama =====
# Если backend запущен в Docker, используй host.docker.internal.
# Если backend запущен напрямую на ПК без Docker, поменяй на http://localhost:11434
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen3:4b
OLLAMA_TIMEOUT_SECONDS=120

# ===== Dataset =====
TRAIN_CSV_PATH=/data/train.csv
TRAIN_NOTES_PATH=/data/notes.md
GOOD_PROMPTS_PATH=/data/goodprompts.txt
IMPORT_TRAIN_ON_STARTUP=true

# ===== SQL guardrails =====
SQL_DEFAULT_LIMIT=100
SQL_MAX_LIMIT=500
SQL_STATEMENT_TIMEOUT_MS=5000
SQL_MAX_OFFSET=1000
SQL_MAX_TRAIN_REFERENCES=1
SQL_MAX_EXPLAIN_TOTAL_COST=2000000
SQL_MAX_EXPLAIN_PLAN_ROWS=2000000
SQL_BLOCK_SELECT_STAR=true
SQL_BLOCK_CROSS_JOIN=true
SQL_READONLY_TRANSACTION=true

# ===== Report scheduler =====
# Автоматический повторный запуск сохраненных отчетов по расписанию.
REPORT_SCHEDULER_ENABLED=true
REPORT_SCHEDULER_INTERVAL_SECONDS=60 #Пока что каждую минуту, но по хорошему надо каждые 5-10
REPORT_SCHEDULER_BATCH_SIZE=10
DEFAULT_REPORT_SCHEDULE_TIMEZONE=UTC
